* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center ;
    position: relative;
    overflow: hidden;
}

.icons {
    font-size: 100px;
    color: #ddd;
    margin-top: 100px;
    transform: translateX(-690px);
    animation-name: ikramov;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    z-index: 1;

}
@keyframes ikramov {
    
    50% {
        transform: translateX(-900px);
    }

    50% {
        transform: translateX(900px);
    }
}

.icons_3 {
    position: absolute;
    font-size: 200px;
    color: #ddd;
    margin-top: 100px;
    transform: translateX(-690px);
    animation-name: ikramov;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
@keyframes ikramov {
    
    50% {
        transform: translateX(-900px);
    }

    50% {
        transform: translateX(900px);
    }
}


.icons_2 {
    font-size: 100px;
    color: #ddd;
    margin-top: 100px;
    position: relative;
    transform: translateX(640px);
    animation-name: ikramov_2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    z-index: 1;
}
@keyframes ikramov_2 {
    
    50% {
        transform: translateX(900px);
    }

    50% {
        transform: translateX(-900px);
    }
}
.icons_2 i{
    position: absolute;
    left: 150px;
}

.icons_4 {
    font-size: 200px;
    color: #ddd;
    margin-top: 100px;
    position: relative;
    transform: translateX(640px);
    animation-name: ikramov_2;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    z-index: 1;
}
@keyframes ikramov_2 {
    
    50% {
        transform: translateX(900px);
    }

    50% {
        transform: translateX(-900px);
    }
}
.icons_4 i{
    position: absolute;
    left: 200px;
}

.shams {
    width: 170px;
    height: 170px;
    background-color: #f28900;
    border-radius: 50%;
    box-shadow: 0 0 50px #e2ba07;
    margin-left: 180px;
    transform: translateY(380px);
    animation-name: abdulloh;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 0;
}
@keyframes abdulloh {
    
    0% {}
    50% {
        transform: translateY(0);
        background:#E8B700 ;
        opacity: 15;
        box-shadow: 0 0 50px #e2ba07;

    }
    50% {
        transform: translateY(0);
        background:#E8B700;
        opacity: 15;
        box-shadow: 0 0 50px #e2ba07;

    }
}



.box_1 {
    width: 710px;
    height: 700px;
    background-color: #4381B6;
    transform: rotate( 45deg);
    position: absolute;
    position: absolute;
    top: 400px;
    right: 620px;
}
.box_2 {
    width: 400px;
    height: 400px;
    background-color: #4381B6;
    transform: rotate( 45deg);
    position: absolute;
    top: 400px;
}

.box_3 {
    width: 710px;
    height: 700px;
    background-color: #4381B6;
    transform: rotate( 45deg);
    position: absolute;
    top: 400px;
    left: 620px;
} 